.navbar-brand img{
    height: 50px;
    margin-right: 20px;
}

.nav-link img{
    height: 100px;
}

.nav-item{
    margin-right: 75px;
    font-weight: 700;
}

/* Mobile */
@media screen and (max-width: 480px) {
   .nav-item p{
    display: none;
   }
  }